Source: acidbase
Section: web
Priority: optional
Maintainer: Jeremy T. Bouse <jbouse@debian.org>
Uploaders: Javier Fernandez-Sanguino Pen~a <jfs@computer.org>
Build-Depends: debhelper (>= 5.0.0), po-debconf, dpatch
Standards-Version: 3.8.3
Homepage: http://secureideas.sourceforge.net/

Package: acidbase
Architecture: all
Depends: ${misc:Depends}, dbconfig-common, mysql-client | virtual-mysql-client, postgresql-client, php5, libphp-adodb (>= 4.62), libwww-perl
Suggests: snort-mysql | snort-pgsql
Description: Basic Analysis and Security Engine
 BASE is based on the code from the Analysis Console for Intrusion Databases
 (ACID) project. This application provides a web front-end to query and analyze
 the alerts coming from a SNORT IDS system.
 .
 BASE is a web interface to perform analysis of intrusions that snort has
 detected on your network. It uses a user authentication and role-base system,
 so that you as the security admin can decide what and how much information
 each user can see.

